<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659944084116-c4nlsle5brr08qq1lpe2gclh59q0h0rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659944084116-c4nlsle5brr08qq1lpe2gclh59q0h0rr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>659944084116-s6h5ob7iu5e9f9urjtkrhqdu8nbohlda.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCN2pna9u2hlNXA4M-dB6Y8YAnHzSe7byg</string>
	<key>GCM_SENDER_ID</key>
	<string>659944084116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.com.lulobank.stg</string>
	<key>PROJECT_ID</key>
	<string>lulobank-piso19</string>
	<key>STORAGE_BUCKET</key>
	<string>lulobank-piso19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:659944084116:ios:4e724d8cb5aac315ba5a81</string>
	<key>DATABASE_URL</key>
	<string>https://lulobank-piso19.firebaseio.com</string>
</dict>
</plist>
